<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Recipes</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %> <% if (successMessage) { %>
    <p><%= successMessage %></p>
    <% } %>
    <h1>Welcome to My Recipes</h1>
    <a href="/recipes/new">Create new recipe</a>
    <% if (recipes.length > 0) { %>
    <ul>
      <% recipes.forEach(recipe => { %>
      <li>
        <a href="/recipes/<%= recipe._id %>"><%= recipe.name %></a>
        <% if (recipe.owner.equals(currentUser._id)) { %>
        <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
          <button>Delete</button>
        </form>
        <% } %>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>You have not created any recipes yet.</p>
    <% } %>
  </body>
</html>
